Repository jaslioin/React-Demo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, eslint --fix

chore: rename
  package.json
Due: prettier --write

chore: store api key as env
  src/env.d.ts
  src/services/apiClient.ts
Due: prettier --write, stylelint, eslint --fix

chore: update lock file
  yarn.lock
Due: none

fix: env variable not found
  src/env.d.ts
  src/services/apiClient.ts
Due: prettier --write, stylelint, eslint --fix

fix: api proxy not working in hosting
  src/env.d.ts
  src/services/apiClient.ts
  vite.config.ts
Due: prettier --write, stylelint, eslint --fix

chore: minor fix
  .env.example
  .gitignore
  index.html
  src/services/apiClient.ts
Due: prettier --write, stylelint, eslint --fix

chore: use memory router
  src/App.tsx
Due: prettier --write, stylelint, eslint --fix

fix(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(release): 0.0.3
  CHANGELOG.md
  package.json
Due: prettier --write

docs: readme
  README.md
Due: none

refactor: layout folder
  src/containers/CatExplorer.tsx
  src/containers/Home.tsx
  src/layouts/Container.ts
  src/layouts/FixedDiv.tsx
  src/layouts/FlexSection.tsx
  src/pages/CatDetail.tsx
  src/pages/LoadingPage.tsx
Due: prettier --write, stylelint, eslint --fix

chore(release): 0.0.4
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: cat not found
  src/assets/cat-not-found.jpg
  src/containers/CatExplorer.tsx
  src/pages/CatDetail.tsx
Due: prettier --write, stylelint, eslint --fix

chore(release): 0.0.5
  CHANGELOG.md
  package.json
Due: prettier --write

style: ui tweak
  src/pages/CatDetail.tsx
Due: prettier --write, stylelint, eslint --fix

chore(release): 0.0.6
  CHANGELOG.md
  package.json
Due: prettier --write

style: animation and reorder
  src/containers/CatExplorer.tsx
  src/pages/CatDetail.tsx
Due: prettier --write, stylelint, eslint --fix

chore(release): 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix(deps): update dependency react-router-dom to v6
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency styled-components to v5.3.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @vitejs/plugin-react to v1.3.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v12
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts,tsx,js})) or (any of: *.json)
  stylelint: (any of: *.css) or (any of: *.{ts,tsx,js})
  eslint --fix: any of: *.{ts,tsx,js}
